<div class="card w-75 mx-auto">
<table class="table table-light table-bordered table-striped">
  <thead class="table-primary">
  <th class="text-center"> Id</th>
  <th class="text-center"> name</th>
  <th class="text-center"> location</th>
  <th class="text-center">  actions</th>

  </thead>
  <tbody class="text-center">

  <tr *ngFor="let department of departments">
    <td #departmentid> {{department.id}}</td>
    <td> {{department.name}}</td>
    <td> {{department.location}}</td>

    <td>
      <button  class="btn btn-info m-2"(click)="showRedirect(departmentid.innerHTML)">show</button>
      <button  class="btn btn-danger m-2"(click)="delete(departmentid.innerHTML)">delete</button>
      <button  class="btn btn-success m-2"(click)="editRedirect(departmentid.innerHTML)">edit</button>



    </td>
  </tr>
  </tbody>
</table>
<div class="col-md-12 text-center">
<a class="btn btn-primary mt-2 w-100" routerLink="/departments/add">  add </a>
</div>
<router-outlet></router-outlet>
</div>
